#external-style {
	color: yellow;
}

* {
	font-family: "Verdana";
	font-size: 25px;
}
h1 {
	font-size: 35px;
}

#lessons-bootcamp {
	text-transform: uppercase;

}

.languages-learn {
	background-color: teal;
}

li[class] {
	border-width: 2px;
	border-style: solid;
	border-color: darkseagreen;
}

img + ul {
	list-style: none;
	letter-spacing: 7px;
}

section img{
	height: 150px;
	width: 150px;
	border-radius: 150px;
}

ul ~ p {
	text-align: center;
	color: black;
}

body > section > h4 {
	letter-spacing: 6px;
}